$m: 0.675rem;

//Breakpoints
//From https://codepen.io/pixelchar/pen/rfuqK
$bp-maggie: 24 * $m;
$bp-lisa: 48 * $m;
$bp-bart: 76.8 * $m;
$bp-marge: 90 * $m;
$bp-homer: 120 * $m;

html,
body {
  font-size: 100%;
}

body {
  font-family: Nunito, Heveltica, sans-serif;
}

* {
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: border-box;
  }
}
