table {
  display: table;

  background-color: $bp-color-white;

  border-spacing: 0;
  border-collapse: collapse;

  thead tr {
    height: 8.1 * $m;
  }

  tbody tr {
    height: 4.7 * $m;

    &:nth-child(even) {
      background-color: $bp-color-white;
    }

    &:nth-child(odd) {
      background-color: $bp-color-offwhite;
    }
  }

  th, td {
    font-weight: $bp-fw-bold;

    padding-right: 4 * $m;
    padding-left: 4 * $m;

    @media only screen and (max-device-width: $bp-bart) {
      padding-right: 3 * $m;
      padding-left: 3 * $m;
    }

    @media only screen and (max-device-width: $bp-lisa) {
      padding-right: 2 * $m;
      padding-left: 2 * $m;
    }
  }

  td {
    p {
      margin: 0;
      padding: 0;
      white-space: nowrap;
    }
  }

  th,
  td {
    font-size: $bp-fs-5;
    line-height: 100%;
  }
}
