.responsive-table {
  max-width: 100%;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;

  color: $bp-color-city;
  font-weight: $bp-fw-bold;

  @include bp-shadow(0, 2px, 12px, 0, #e1e7ee);
}
