@import "table-header";
@import "table-data";

@mixin no-box-shadow() {
  box-shadow: none;
  -o-box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

@media only screen and (max-width: $bp-bart) {
  table {
    padding: 0;
    font-size: $bp-fs-6;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    thead {
      position: absolute;
      top: 0;
      left: 0;
      padding: 0;
      border: none;
      height: 1px;
      width: 1px;
      overflow: hidden;
      @include no-box-shadow();
    }

    tbody,
    tr,
    th,
    td {
      padding: 0;
      text-align: left;
      white-space: normal;
    }

    tbody {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      @include no-box-shadow();
      padding: 1.6 * $m;
    }

    tr {
      width: 48%;
      margin: 1%;
      min-width: 24 * $m;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
    }

    tr {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;

      @include bp-shadow(0, 2px, 12px, 0, #e1e7ee);
      margin-bottom: 2 * $m;

      &:nth-child(even) {
        background-color: $bp-color-white;
      }
    }

    th {
      display: block;
      text-align: left;
      padding: 0;
      width: 100%;

      &:first-of-type {
        padding: 0;
      }

      &:last-of-type {
        padding: 0;
      }

      &[scope="row"] {
        padding: 0.6 * $m 2 * $m;
        border-bottom: 2px solid $bp-color-offwhite;
      }
    }

    td {
      flex-shrink: 0;
      text-align: left;

      width: 12 * $m;
      height: 8 * $m;

      padding: 0.6 * $m;

      border: 1px solid $bp-color-blip-light;
      border-radius: 5px;

      margin: 0.6 * $m;

      &:first-of-type,
      &:last-of-type {
        padding: 0.6 * $m;
      }
    }
  }
}

@media only screen and (max-width: $bp-lisa) {
  table {
    tbody {
      flex-direction: column;
      flex-wrap: nowrap;
    }

    tr {
      width: 100%;
      min-width: 100%;
    }
  }
}
