@media only screen and (max-device-width: $bp-marge) {
  #blip-channel-table {
    font-size: 120%;
  }
}

@media only screen and (max-device-width: $bp-bart) {
  #blip-channel-table {
    font-size: 160%;
  }
}

@media only screen and (max-device-width: $bp-lisa) {
  #blip-channel-table {
    font-size: 240%;
  }
}
