@media only screen and (max-width: $bp-bart) {
  .channel-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: no;

    .channel-title {
      display: inline-block;
      margin-left: 1 * $m;
      font-size: $bp-fs-5;
    }
  }
}

@media only screen and (max-width: $bp-lisa) {
  .channel-title {
    display: inline-block;
    margin-left: 0.5 * $m;
    font-size: $bp-fs-6;
  }
}
