{#if isSupported}
<div class="supported">
    <SupportedSymbol/>
    <LookButton/>
</div>
{:else}
<div class="unsupported">
    <UnsupportedSymbol/>
</div>
{/if}

<script>
import LookButton from "../ui/buttons/LookButton.html";
import SupportedSymbol from "../ui/symbols/SupportedSymbol.html";
import UnsupportedSymbol from "../ui/symbols/SupportedSymbol.html";

export default {
    components: {
        LookButton,
        SupportedSymbol,
        UnsupportedSymbol
    },
    oncreate() {
        console.log('AAAAAAAAAAA', this.isSupported);
    }
}
</script>