$m: 0.625rem;

body {
  font-size: 100%;
  font-family: Nunito, Heveltica, sans-serif;
}

* {
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: border-box;
    clear: both;
  }
}

button label {
  cursor: pointer;
}
