@import "table-header";
@import "table-data";

td,
th {
  padding: 0;
}

table {
  max-width: 100%;

  position: relative;
  border: none;
  border-spacing: 0;
  border-collapse: collapse;

  font-size: $bp-fs-5;

  overflow: auto;
  @include scrollbar($bp-color-breeze);
  color: $bp-color-desk;

  thead {
    position: relative;
    top: none;
    left: none;
    height: auto;
    width: auto;
    overflow: auto;
    border-bottom: 2px solid $bp-color-offwhite;
    @include box-shadow(0, -2px, 12px, 0, #e1e7ee);
  }

  thead,
  tbody {
    background-color: $bp-color-white;
  }

  tbody {
    display: table-row-group;
    @include box-shadow(0, 2px, 12px, 0, #e1e7ee);

    // tr:first-of-type {
    //   background-color: $bp-color-breeze;
    //   border-bottom: 2px solid $bp-color-offwhite;
    //   font-weight: $bp-fw-extra-bold;
    // }
  }

  th {
    text-align: center;
    vertical-align: bottom;
    color: $bp-color-desk;
    font-weight: $bp-fw-extra-bold;
  }

  th,
  td {
    padding: 1.6 * $m 2.4 * $m;
    text-align: center;
    vertical-align: middle;
    line-height: $bp-lh-plus;
    display: table-cell;
  }

  th,
  td {
    &:first-of-type {
      text-align: left;
      padding-left: 3.2 * $m;
      padding-right: 3.2 * $m;
    }

    &:last-of-type {
      padding-right: 3.2 * $m;
    }
  }

  td {
    padding: 1 * $m 1 * $m;
  }

  tr {
    display: table-row;

    &:nth-child(odd) {
      background-color: $bp-color-white;
    }

    &:nth-child(even) {
      background-color: $bp-color-offwhite;
    }
  }
}
