@import "table-container";
@import "table-data";
@import "side-table";
@import "main-table";

table {
  display: table;

  background-color: $bp-color-white;

  border-spacing: 0;
  border-collapse: collapse;

  color: $bp-color-desk;

  thead tr {
    height: 8.1 * $m;
  }

  tbody tr {
    height: 4.7 * $m;

    &:nth-child(even) {
      background-color: $bp-color-white;
    }

    &:nth-child(odd) {
      background-color: $bp-color-offwhite;
    }
  }

  td {
    padding-right: 2 * $m;
    padding-left: 2 * $m;

    p {
      margin: 0;
      padding: 0;
      white-space: nowrap;
    }
  }

  th,
  td {
    font-size: $bp-fs-5;
    line-height: 100%;
  }
}
